@model WebApplication2.Models.AddressVM
@{
    ViewData["Title"] = "TestAddress";
}

<h1>
    TestAddress
</h1>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    @*<input type="text" id="txtLocation" name="txtLocation" onclick="getlocation()"><br>*@
</div>

<style>
    #dvMap {
        margin-top: -800px;
        width: 33.33%;
        float: right;
        height: 800px;
    }

    #div2 {
        background-color: cadetblue;
        width: 33.33%;
        float: left;
        height: 800px;
    }

    #div3 {
        background-color: cadetblue;
        width: 33.33%;
        margin: 0 auto;
        height: 825px;
    }
</style>



<form id="studenteForm">

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div id="div2">

        <div class="form-group">
            @Html.LabelFor(model => model.Address1, htmlAttributes: new
            {
               @class = "control-label col-md-2"
              })
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", @id = "txtLocation", @onclick = "getlocation()" })
            @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })

            @*<input type="text" id="idAddress" name="idAddress" onclick="getlocation()"><br>*@
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Longitude, htmlAttributes: new
        {
           @class = "control-label col-md-2"
        })
            @Html.TextBoxFor(m => m.Longitude, new { @class = "form-control", id = "Longitude", placeholder = "Enter Longitude" })
            @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude, htmlAttributes: new
         {
           @class = "control-label col-md-2"
         })
            @Html.TextBoxFor(m => m.Latitude, new { @class = "form-control", id = "Latitude", placeholder = "Enter Latitude" })
            @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })

        </div>


        <div class="form-group">

            @Html.LabelFor(model => model.Postal, htmlAttributes: new
            {
                 @class = "control-label col-md-2"
             })
            @Html.TextBoxFor(m => m.Postal, new { @class = "form-control", id = "idPostal", placeholder = "Enter Postalcode" })
            @Html.ValidationMessageFor(model => model.Postal, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateId, htmlAttributes: new
           {
               @class = "control-label col-md-2"
           })

            @Html.DropDownListFor(m => m.StateId, new SelectList(Model.StateDropDownList != null ? Model.StateDropDownList : new List<StateMaster>(), "StateId", "StateName"), new { @class = "form-control", id = "drpList" })
            @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country, htmlAttributes: new
            {
            @class = "control-label col-md-2"
            })
            @Html.TextBoxFor(m => m.country, new { @class = "form-control", id = "idcountry", placeholder = "Enter country" })
            @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new
            {
              @class = "control-label col-md-2"
            })
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", id = "idCity", placeholder = "Enter City" })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District, htmlAttributes: new
            {
              @class = "control-label col-md-2"
            })
            @Html.TextBoxFor(m => m.District, new { @class = "form-control", id = "idDistrict", placeholder = "Enter District" })
            @Html.ValidationMessageFor(model => model.District, "", new { @class = "text-danger" })
        </div>

    </div>

    <div id="div3">
        <div class="form-group">
            @Html.LabelFor(model => model.Address2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Address2, new { @class = "form-control", @id = "txtLocationTwo", @onclick = "getlocationTwo()" })
                @Html.ValidationMessageFor(model => model.Address2, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Longitude1, htmlAttributes: new
            {
                 @class = "control-label col-md-2"
             })
            @Html.TextBoxFor(m => m.Longitude1, new { @class = "form-control", id = "Longitude1", placeholder = "Enter Longitude" })
            @Html.ValidationMessageFor(model => model.Longitude, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Latitude1, htmlAttributes: new
            {
                 @class = "control-label col-md-2"
             })
            @Html.TextBoxFor(m => m.Latitude1, new { @class = "form-control", id = "Latitude1", placeholder = "Enter Latitude" })
            @Html.ValidationMessageFor(model => model.Latitude, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">

            @Html.LabelFor(model => model.Postal1, htmlAttributes: new
            {
                 @class = "control-label col-md-2"
             })
            @Html.TextBoxFor(m => m.Postal1, new { @class = "form-control", id = "idPostal1", placeholder = "Enter Postalcode" })
            @Html.ValidationMessageFor(model => model.Postal, "", new { @class = "text-danger" })

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StateId1, htmlAttributes: new
           {
               @class = "control-label col-md-2"
           })

            @Html.DropDownListFor(m => m.StateId1, new SelectList(Model.StateDropDownList != null ? Model.StateDropDownList : new List<StateMaster>(), "StateId", "StateName"), new { @class = "form-control", id = "drpList1" })
            @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.country1, htmlAttributes: new
            {
            @class = "control-label col-md-2"
            })
            @Html.TextBoxFor(m => m.country1, new { @class = "form-control", id = "idcountry1", placeholder = "Enter country" })
            @Html.ValidationMessageFor(model => model.country1, "", new { @class = "text-danger" })
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.City1, htmlAttributes: new
            {
              @class = "control-label col-md-2"
            })
            @Html.TextBoxFor(m => m.City1, new { @class = "form-control", id = "idCity1", placeholder = "Enter City" })
            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.District1, htmlAttributes: new
            {
              @class = "control-label col-md-2"
            })
            @Html.TextBoxFor(m => m.District1, new { @class = "form-control", id = "idDistrict1", placeholder = "Enter District" })
            @Html.ValidationMessageFor(model => model.District1, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Distance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Distance, new { @class = "form-control", id = "txtResult", placeholder = "Enter Distance" })

                @Html.ValidationMessageFor(model => model.Distance, "", new { @class = "text-danger" })
            </div>
        </div>


        <div>
            <input type="button" class="btn btn-primary" onclick="submitStudent()" value="Submit" id="btnsubmit" />
        </div>

    </div>

</form>

<div id="dvMap">



</div>

<div id="result">
    <ul class="list-group">
        @*<li id="mile"
                class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                Distance In Mile :
            </li>*@
        @*<li id="kilo"
                class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                Distance is Kilo:
            </li>*@

        @*<li id="text"
                class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                IN TEXT:
            </li>
            <li id="minute"
                class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                IN MINUTES:
            </li>
            <li id="from"
                class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                FROM:
            </li>
            <li id="to"
                class="
                      list-group-item
                      d-flex
                      justify-content-between
                      align-items-center
                    ">
                TO:
            </li>*@
    </ul>
</div>

<script src="~/js/SearchLocation.js?v=1"></script>


